<header>
  <nav>
    <div class="main">
      <div class="row">
        <div class="col-md-8">
          <div class="titulo-container">
            <h1 class="text-white fs-2">Original - Internet Banking</h1>
          </div>
          <!--
          <mat-card class="style">
            <mat-card-content>
              <div class="form-container">
                <form (ngSubmit)="submit();" [formGroup]="form">
                  <mat-form-field hintLabel="Máx. 3 caracteres">
                    <mat-label>Agência:</mat-label>
                    <input matInput #input maxlength="3" placeholder="Ag.:" formControlName="agencia">
                    <mat-hint align="end">{{input.value.length}}/3</mat-hint>
                  </mat-form-field>
                  <mat-form-field hintLabel="Máx. 8 caracteres">
                    <mat-label>Conta Corrente:</mat-label>
                    <input matInput #input maxlength="8" placeholder="CC:" formControlName="conta">
                    <mat-hint align="end">{{input.value.length}}/8</mat-hint>
                  </mat-form-field>
                  <button mat-raised-button  color="warn" class="btn" type="submit">Enviar</button>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
        -->
        </div>
        <div class="col-md-4">
          <button mat-raised-button  color="warn" class="btn-sair" (click)="sair();">Sair</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="direitos-container">
    &copy; Copyright 2023 | <span>Todos os direitos reservados.</span>
  </div>
</footer>
